// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$adaptive-name: 'adaptive'
$adaptive-x: 0px
$adaptive-y: 0px
$adaptive-offset-x: 0px
$adaptive-offset-y: 0px
$adaptive-width: 300px
$adaptive-height: 170px
$adaptive-total-width: 760px
$adaptive-total-height: 530px
$adaptive-image: 'sprite.png'
$adaptive: (0px, 0px, 0px, 0px, 300px, 170px, 760px, 530px, 'sprite.png', 'adaptive', )
$btngen-name: 'btngen'
$btngen-x: 310px
$btngen-y: 0px
$btngen-offset-x: -310px
$btngen-offset-y: 0px
$btngen-width: 300px
$btngen-height: 170px
$btngen-total-width: 760px
$btngen-total-height: 530px
$btngen-image: 'sprite.png'
$btngen: (310px, 0px, -310px, 0px, 300px, 170px, 760px, 530px, 'sprite.png', 'btngen', )
$checkbox-name: 'checkbox'
$checkbox-x: 620px
$checkbox-y: 286px
$checkbox-offset-x: -620px
$checkbox-offset-y: -286px
$checkbox-width: 20px
$checkbox-height: 20px
$checkbox-total-width: 760px
$checkbox-total-height: 530px
$checkbox-image: 'sprite.png'
$checkbox: (620px, 286px, -620px, -286px, 20px, 20px, 760px, 530px, 'sprite.png', 'checkbox', )
$cssgallery-name: 'cssgallery'
$cssgallery-x: 0px
$cssgallery-y: 180px
$cssgallery-offset-x: 0px
$cssgallery-offset-y: -180px
$cssgallery-width: 300px
$cssgallery-height: 170px
$cssgallery-total-width: 760px
$cssgallery-total-height: 530px
$cssgallery-image: 'sprite.png'
$cssgallery: (0px, 180px, 0px, -180px, 300px, 170px, 760px, 530px, 'sprite.png', 'cssgallery', )
$experience-name: 'experience'
$experience-x: 620px
$experience-y: 147px
$experience-offset-x: -620px
$experience-offset-y: -147px
$experience-width: 140px
$experience-height: 129px
$experience-total-width: 760px
$experience-total-height: 530px
$experience-image: 'sprite.png'
$experience: (620px, 147px, -620px, -147px, 140px, 129px, 760px, 530px, 'sprite.png', 'experience', )
$hello-name: 'hello'
$hello-x: 620px
$hello-y: 0px
$hello-offset-x: -620px
$hello-offset-y: 0px
$hello-width: 140px
$hello-height: 137px
$hello-total-width: 760px
$hello-total-height: 530px
$hello-image: 'sprite.png'
$hello: (620px, 0px, -620px, 0px, 140px, 137px, 760px, 530px, 'sprite.png', 'hello', )
$jq-name: 'jq'
$jq-x: 310px
$jq-y: 180px
$jq-offset-x: -310px
$jq-offset-y: -180px
$jq-width: 300px
$jq-height: 170px
$jq-total-width: 760px
$jq-total-height: 530px
$jq-image: 'sprite.png'
$jq: (310px, 180px, -310px, -180px, 300px, 170px, 760px, 530px, 'sprite.png', 'jq', )
$js-name: 'js'
$js-x: 0px
$js-y: 360px
$js-offset-x: 0px
$js-offset-y: -360px
$js-width: 300px
$js-height: 170px
$js-total-width: 760px
$js-total-height: 530px
$js-image: 'sprite.png'
$js: (0px, 360px, 0px, -360px, 300px, 170px, 760px, 530px, 'sprite.png', 'js', )
$triangl-name: 'triangl'
$triangl-x: 310px
$triangl-y: 360px
$triangl-offset-x: -310px
$triangl-offset-y: -360px
$triangl-width: 300px
$triangl-height: 170px
$triangl-total-width: 760px
$triangl-total-height: 530px
$triangl-image: 'sprite.png'
$triangl: (310px, 360px, -310px, -360px, 300px, 170px, 760px, 530px, 'sprite.png', 'triangl', )
$spritesheet-width: 760px
$spritesheet-height: 530px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($adaptive, $btngen, $checkbox, $cssgallery, $experience, $hello, $jq, $js, $triangl, )
$spritesheet: (760px, 530px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(../image/#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
