$headerColor: #8cc34b;
$headerFontColor: rgba(255, 255, 255, 0.5);
$maxWidth: 1200px;
$colorCheck: #f6f7f2;

$share-social: '.wrapper__share_social';
$share-social-hover: '.wrapper__share_social:active, .wrapper__share_social:hover';


@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&subset=cyrillic')
@import sprite

html
	min-height: 100%
	width: 100%;
	min-width: 1200px
	position: relative
body
	height: 100%	
	min-width: 1200px
	margin: 0
	padding: 0
	font-family: 'Fira Sans', sans-serif

//HEADER

.header
	width: 100%
	background-color: $headerColor
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2)
	padding-left: 0px
.header__wrapper
	max-width: $maxWidth
	height: 90px
	margin: 0 auto

.wrapper__leftside_logo
	width: 60px
	height: 59px
	border-radius: 50%
	background-color: red
	float: left
	margin-top: 15px
	margin-left: 29px


.wrapper__leftside_privat-info
	margin-left: 20px
	float: left
	.myname
		margin-bottom: 0
		color: $headerFontColor
		font-size: 20.96px
		font-weight: 500
		line-height: 25px
		text-align: left
	.mymail
		margin: 0
		color: $headerFontColor
		font-size: 13.97px
		font-weight: 400
		line-height: 28px
		text-align: left
		
.wrapper__share
	float: right
	margin-top: 30px
	.social-vk
		position: relative
		top: -5px
	.wrapper__share_social
		display: inline-block
		width: 30px
		height: 31px
		margin-right: 20px
		&:nth-last-child(1)
			margin-right: 30px
	#{$share-social}
		fill: rgba(255, 255, 255, 0.5)
	#{$share-social-hover}
		fill: rgba(255, 255, 255, 0.9)


//block about me

.about-me
	width: 100%
	background-color: #ffffff
	.about-me__tit
		margin: 75px auto
		width: 920px
		h1,p
			margin: 0
			text-align: center
			color: #212121
		h1
			margin-bottom: 19px
			font-size: 42px
			font-weight: 500
		p
			margin-bottom: 40px	
			color:  #727272
			font-size: 21px
			font-weight: 300

.about-me__items
	padding: 0
	display: flex
	justify-content: center
.infoblock
	width: 436px
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	.image
		width: 140px
		height: 137px
	.text
		width: 275px
		.text__accordion
			display: block
			border-radius: 10px
			margin: 0 0 19px 0
			color: #212121
			font-size: 21px
			font-weight: 400
			text-align: center
			cursor: pointer
			background-color: #eee
			transition: 0.4s
			-webkit-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			&:hover,
			&.active
				background-color: #ddd
			&.active:after
				content: "\f139"
				font-family: FontAwesome
			&:after
				font-family: FontAwesome
				content: '\f13a'
				float: right
				color: $headerColor

		.text__content
			display: block
			color: #727272
			font-size: 14px
			font-weight: 300
			text-align: left
			max-height: 0
			overflow: hidden
			transition: max-height 0.2s ease-out


.infoblock__info-left
	margin-right: 35px
.image_hello
	@include sprite($hello)
.image_exp
	@include sprite($experience)

.portfolio
	width: 100%
	background: #f6f7f2 url("../image/bg.png") repeat
	padding-top: 20px
	h2
		color: #212121
		font-size: 42px
		font-weight: 500
		text-align: center
	p
		color: #727272
		font-weight: 300
		font-size: 21px
		text-align: center
	.portfolio__wrapper
		display: flex
		flex-flow: wrap row
		justify-content: space-around
		min-width: 400px 
		max-width: 1199px
		margin: 0 auto
		margin-bottom: 100px

.wrapper__items
	width: 300px
	margin-bottom: 69px
	background: #fff
	box-shadow: 0px 6px 11px 1px rgba(0,0,0,0.33)
	-webkit-box-shadow: 0px 6px 11px 1px rgba(0,0,0,0.33)
	-moz-box-shadow: 0px 6px 11px 1px rgba(0,0,0,0.33)
	h3, p
		padding: 0 20px 0 20px
	h3
		font-size: 21px
		font-weight: 400
		text-align: left
		color: #212121
	p
		color:  #727272
		font-weight: 300
		text-align: left
		line-height: 21px
	&:hover .portfolio__image::before,
	&:hover .portfolio__image::after
		width: 100%
		height: 100%
	&:hover .portfolio__image::before
		border-top-color: $headerColor
		border-right-color: $headerColor
		transition: width 0.25s ease-out, height 0.25s ease-out 0.25s
	&:hover .portfolio__image::after
		border-bottom-color: $headerColor
		border-left-color: $headerColor
		transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s
	&:hover h3
		color: $headerColor
	.portfolio__image
		position: relative
		width: 300px
		height: 170px
		box-sizing: border-box
		border: 0
		transition: color 0.25s
		&::before,
		&::after
			box-sizing: border-box
			content: ''
			position: absolute
			width: 100%
			height: 100%
			border: 6px solid transparent
			width: 0
			height: 0
		&::before
			top: 0
			left: 0
		&::after
			bottom: 0
			right: 0
	.check
		background: $colorCheck
		height: 59px
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		.check__checkbox
			display: none
			&:checked ~ .check__checkbox-custom::before
				content: ""
				display: block
				position: absolute
				top: 1px
				left: 1px
				@include sprite($checkbox)
				border-radius: 2px
			&:checked ~ .check__label
				color: $headerColor
		.check__checkbox-custom
			position: relative
			width: 22px
			height: 22px
			border: 2px solid #ccc
			border-radius: 3px
		.check__checkbox-custom, .check__label
			margin-top: 20px
			margin-left: 20px
			display: inline-block
			vertical-align: middle

.item_image1
	@include sprite($js)
.item_image2
	@include sprite($jq)
.item_image3
	@include sprite($triangl)
.item_image4
	@include sprite($adaptive)
.item_image5
	@include sprite($btngen)
.item_image6
	@include sprite($cssgallery)

// FOOTER

#scroller-top
	position: fixed
	bottom: 100px
	right: 30px

	cursor: pointer
	display: none
	border-radius: 50%
.fa
	color: $headerColor
.footer
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	background-color: #212121
	.wrapper__footer
		max-width: $maxWidth
		height: 72px
		margin: 0 auto
		.footer__text
			margin-top: 0
			padding-top: 19px
			color:  $headerFontColor
			font-size: 13.99px
			font-weight: 400
			line-height: 21px
			text-align: center



//CLEARFIX 

// .clearfix:after
//   content: ""
//   display: table
//   clear: both

